* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

:root {
  --primary-color: 8#5DCB;
  --secondary-color: #444444;
}

body {
  background-color: rgb(37, 39, 77);
}

.title {
  /* display: flexbox; */
  text-align: center;
  margin-bottom: auto;
  font-size: smaller;
  padding: auto;
  color: antiquewhite;
}

/* The search field */
#myInput1 {
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid rgb(170, 171, 184);
  position: right;
}

/* The search field when it gets focus/clicked on */
#myInput1:focus {
  outline: 3px solid #ddd;
}

#searchbar-div {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

#myInput2 {
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid rgb(170, 171, 184);
  position: left;
}

#myInput2:focus {
  outline: 3px solid rgb(170, 171, 184);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  /* position: absolute; */
  background-color: rgb(170, 171, 184);
  min-width: 230px;
  border: 1px solid rgb(170, 171, 184);
}

/* Links inside the dropdown */
.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content div:hover {
  background-color: rgb(170, 171, 184);
}

.show {
  display: block;
}

/*--------------------------Crypto-Calculator Div-------------------------*/

.crypto-calculator-parent-container {
  display: flex;
  width: 100%;
  background-color: rgb(46, 156, 202);
  justify-content: center;
  position: relative;
}

.crypto-calculator-box {
  flex-direction: column;
  align-items: center;
  box-shadow: black;
  cursor: pointer;
  border: 1.5px solid transparent;
  border-radius: 20px;
}

.price-container {
  display: flex;
  align-items: center;
  color: antiquewhite;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 500px;
  height: 400px;
  align-content: space-between;
  justify-content: space-evenly;
  padding: 50px;
}

.calc-button {
  height: 20px;
  width: 50%;
  background-color: rgb(46, 156, 202);
}

.reset-button {
  height: 20px;
  background-color: rgb(46, 156, 202);
}
